.blog {
  max-width: 70rem;
  margin: 4.8rem auto;
  padding: 0 4.8rem;

  @media screen and (max-width: 34em) {
    padding: 0 3rem;
  }

  &__title {
    font-size: 4.5rem;
    color: #000;

    @media screen and (max-width: 34em) {
      font-size: 4rem;
      line-height: 1.2;
    }
  }

  &__date {
    display: inline-block;
    margin-top: 1.5rem;
    color: var(--color-paragraph);
    font-size: 1.6rem;
  }

  &__image {
    margin: 2rem 0;

    & img {
      border-radius: 5px;
    }
  }

  &__content h1 {
    margin: 4rem 0 2rem 0;
    color: #4d4d4d;
    font-size: 3rem;
  }

  &__content p {
    font-size: 1.8rem;
    max-width: 55ch;
    margin-top: 1.8rem;
    line-height: 1.7;

    @media screen and (max-width: 34em) {
      font-size: 1.6rem;
      line-height: 1.7;
    }
  }

  &__content li {
    font-size: 1.8rem;
    margin-top: 1.8rem;
    line-height: 1.7;

    @media screen and (max-width: 34em) {
      font-size: 1.6rem;
      line-height: 1.7;
    }
  }
}
