/* 

     SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

:root {
  --color-paragraph: #808080;
  --color-twitter: #1da1f2;
  --color-spotify: #1db954;

  --title-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #000;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.light-mode {
  color: #000 !important;
  background-color: #fff;
}

hr {
  margin-top: 2rem;
}
